#Source: config file developed as per that of Mr.Sameer Ghewari, PSU

comp -hvl questa
#rtlc -xrtl is default
#Declare all XRTL modules to RTLS. These are the modules that will run on the emulator. 
rtlc -partition_module_rtl AHBInterface
rtlc -partition_module_xrtl top_hdl
comp -platform D1S
comp -num_boards 1 
